<!-- Right Side: Registration Form -->
<div class="w-full h-dvh overflow-y-auto bg-white">
  <div class="w-full min-h-full flex justify-center px-8 py-6 lg:px-14 lg:py-6">
    <div class="w-full max-w-125">
      <!-- Mobile Logo -->
      <div class="lg:hidden mb-6 flex items-center gap-3">
        <span
          class="w-11 h-11 rounded-xl bg-mainColor/10 text-mainColor flex items-center justify-center text-2xl"
        >
          <i class="fa-brands fa-hive"></i>
        </span>

        <span class="text-2xl font-bold text-slate-900"> Nexora </span>
      </div>

      <!-- Heading -->
      <div class="mb-5">
        <h2 class="text-3xl font-extrabold text-slate-900 mb-2 text-center tracking-tight">
          Create Your New Account
        </h2>

        <p class="text-slate-500 text-center">Join Nexora and start connecting</p>
      </div>

      <!-- Form -->
      <form
        autocomplete="off"
        [formGroup]="registerForm"
        (ngSubmit)="submitForm()"
        class="space-y-4"
      >
        <!-- Full Name -->
        <div>
          <div class="relative">
            @let nameControl = registerForm.get('name');

            <input
              formControlName="name"
              type="text"
              id="fullName"
              placeholder=" "
              class="block px-3 pb-2.5 pt-4 w-full text-sm text-slate-900 bg-transparent rounded-xl border appearance-none focus:outline-none focus:ring-0 focus:border-mainColor peer"
              [class]="
                nameControl?.invalid && nameControl?.touched
                  ? 'border-rose-600'
                  : 'border-slate-300'
              "
            />

            <label
              for="fullName"
              class="absolute text-sm text-body duration-300 transform -translate-y-4 scale-75 top-2 z-10 origin-left bg-white px-2 peer-focus:text-mainColor peer-placeholder-shown:scale-100 peer-placeholder-shown:-translate-y-1/2 peer-placeholder-shown:top-1/2 peer-focus:top-2 peer-focus:scale-75 peer-focus:-translate-y-4 left-1"
            >
              Full name
            </label>
          </div>

          @if (nameControl?.invalid && nameControl?.touched) {
            <p class="mt-1 text-xs font-semibold text-rose-600">
              @if (nameControl?.hasError('required')) {
                <span class="block"> Full name is required. </span>
              } @else if (nameControl?.hasError('minlength')) {
                <span class="block"> Name must be at least 3 characters. </span>
              }
            </p>
          }
        </div>

        <!-- Username -->
        <div>
          <div class="relative">
            <input
              formControlName="username"
              type="text"
              id="userName"
              placeholder=" "
              class="block px-3 pb-2.5 pt-4 w-full text-sm text-slate-900 bg-transparent rounded-xl border border-slate-300 appearance-none focus:outline-none focus:ring-0 focus:border-mainColor peer"
            />

            <label
              for="userName"
              class="absolute text-sm text-body duration-300 transform -translate-y-4 scale-75 top-2 z-10 origin-left bg-white px-2 peer-focus:text-mainColor peer-placeholder-shown:scale-100 peer-placeholder-shown:-translate-y-1/2 peer-placeholder-shown:top-1/2 peer-focus:top-2 peer-focus:scale-75 peer-focus:-translate-y-4 left-1"
            >
              Username (optional)
            </label>
          </div>
        </div>

        <!-- Email -->
        <div>
          <div class="relative">
            @let emailControl = registerForm.get('email');

            <input
              autocomplete="off"
              formControlName="email"
              type="email"
              id="email"
              placeholder=" "
              class="block px-3 pb-2.5 pt-4 w-full text-sm text-slate-900 bg-transparent rounded-xl border appearance-none focus:outline-none focus:ring-0 focus:border-mainColor peer"
              [class]="
                emailControl?.invalid && emailControl?.touched
                  ? 'border-rose-600'
                  : 'border-slate-300'
              "
            />

            <label
              for="email"
              class="absolute text-sm text-body duration-300 transform -translate-y-4 scale-75 top-2 z-10 origin-left bg-white px-2 peer-focus:text-mainColor peer-placeholder-shown:scale-100 peer-placeholder-shown:-translate-y-1/2 peer-placeholder-shown:top-1/2 peer-focus:top-2 peer-focus:scale-75 peer-focus:-translate-y-4 left-1"
            >
              Email address
            </label>
          </div>

          @if (emailControl?.invalid && emailControl?.touched) {
            <p class="mt-1 text-xs font-semibold text-rose-600">
              @if (emailControl?.hasError('required')) {
                <span class="block"> Email is required. </span>
              } @else if (emailControl?.hasError('email')) {
                <span class="block"> Please enter a valid email address. </span>
              }
            </p>
          }
        </div>

        <!-- Gender + Date Of Birth -->
        <div class="grid grid-cols-1 md:grid-cols-2 gap-4">
          <!-- Gender -->
          <div>
            <div class="relative">
              @let genderControl = registerForm.get('gender');

              <select
                formControlName="gender"
                id="gender"
                class="block px-3 pb-2.5 pt-4 w-full text-sm text-slate-900 bg-transparent rounded-xl border appearance-none focus:outline-none focus:ring-0 focus:border-mainColor"
                [class]="
                  genderControl?.invalid && genderControl?.touched
                    ? 'border-rose-600'
                    : 'border-slate-300'
                "
              >
                <option selected hidden disabled value="">Select gender</option>

                <option value="male">Male</option>

                <option value="female">Female</option>
              </select>

              <label
                for="gender"
                class="absolute text-sm text-body top-0 left-3 -translate-y-1/2 bg-white px-2"
              >
                Select gender
              </label>
            </div>

            @if (genderControl?.invalid && genderControl?.touched) {
              <p class="mt-1 text-xs font-semibold text-rose-600">
                @if (genderControl?.hasError('required')) {
                  <span class="block"> Gender is required. </span>
                }
              </p>
            }
          </div>

          <!-- Date Of Birth -->
          <div>
            <div class="relative">
              @let dateOfBirthControl = registerForm.get('dateOfBirth');

              <input
                formControlName="dateOfBirth"
                type="date"
                id="date"
                class="block px-3 pb-2.5 pt-4 w-full text-sm text-body bg-transparent rounded-xl border appearance-none focus:outline-none focus:ring-0 focus:border-mainColor"
                [class]="
                  dateOfBirthControl?.invalid && dateOfBirthControl?.touched
                    ? 'border-rose-600'
                    : 'border-slate-300'
                "
              />

              <label
                for="date"
                class="absolute text-sm text-slate-500 top-0 left-3 -translate-y-1/2 bg-white px-2"
              >
                Date of birth
              </label>
            </div>

            @if (dateOfBirthControl?.invalid && dateOfBirthControl?.touched) {
              <p class="mt-1 text-xs font-semibold text-rose-600">
                @if (dateOfBirthControl?.hasError('required')) {
                  <span class="block"> Date of birth is required. </span>
                }
              </p>
            }
          </div>
        </div>

        <!-- Password -->
        <div>
          <div class="relative">
            @let passwordControl = registerForm.get('password');

            <input
              #passInput
              autocomplete="new-password"
              formControlName="password"
              type="password"
              id="password"
              placeholder=" "
              class="block px-3 pr-12 pb-2.5 pt-4 w-full text-sm text-slate-900 bg-transparent rounded-xl border appearance-none focus:outline-none focus:ring-0 focus:border-mainColor peer"
              [class]="
                passwordControl?.invalid && passwordControl?.touched
                  ? 'border-rose-600'
                  : 'border-slate-300'
              "
            />

            <label
              for="password"
              class="absolute text-sm text-body duration-300 transform -translate-y-4 scale-75 top-2 z-10 origin-left bg-white px-2 peer-focus:text-mainColor peer-placeholder-shown:scale-100 peer-placeholder-shown:-translate-y-1/2 peer-placeholder-shown:top-1/2 peer-focus:top-2 peer-focus:scale-75 peer-focus:-translate-y-4 left-1"
            >
              Password
            </label>

            <span
              (click)="showPassword(passInput)"
              class="absolute top-1/2 -translate-y-1/2 right-4 text-slate-400 cursor-pointer hover:text-mainColor transition"
            >
              <i
                class="fa-regular"
                [class]="{
                  'fa-eye-slash': passInput.type === 'password',
                  'fa-eye': passInput.type === 'text',
                }"
              ></i>
            </span>
          </div>

          <!-- Error Alert -->
          @if (passwordControl?.invalid && passwordControl?.touched) {
            <p class="mt-1 text-xs font-semibold text-rose-600">
              @if (passwordControl?.hasError('required')) {
                <span class="block"> Password is required. </span>
              } @else if (passwordControl?.hasError('pattern')) {
                <span class="block">
                  Password must be at least 8 characters long and contain at least one uppercase
                  letter, one lowercase letter, one number, and one special character.
                </span>
              }
            </p>
          }
        </div>

        <!-- Confirm Password -->
        <div>
          <div class="relative">
            @let rePasswordControl = registerForm.get('rePassword');

            <input
              #confirmPassInput
              autocomplete="new-password"
              formControlName="rePassword"
              type="password"
              id="repassword"
              placeholder=" "
              class="block px-3 pr-12 pb-2.5 pt-4 w-full text-sm text-slate-900 bg-transparent rounded-xl border appearance-none focus:outline-none focus:ring-0 focus:border-mainColor peer"
              [class]="
                rePasswordControl?.invalid && rePasswordControl?.touched
                  ? 'border-rose-600'
                  : 'border-slate-300'
              "
            />

            <label
              for="repassword"
              class="absolute text-sm text-body duration-300 transform -translate-y-4 scale-75 top-2 z-10 origin-left bg-white px-2 peer-focus:text-mainColor peer-placeholder-shown:scale-100 peer-placeholder-shown:-translate-y-1/2 peer-placeholder-shown:top-1/2 peer-focus:top-2 peer-focus:scale-75 peer-focus:-translate-y-4 left-1"
            >
              Confirm password
            </label>

            <span
              (click)="showPassword(confirmPassInput)"
              class="absolute top-1/2 -translate-y-1/2 right-4 text-slate-400 cursor-pointer hover:text-mainColor transition"
            >
              <i
                class="fa-regular"
                [class]="{
                  'fa-eye-slash': confirmPassInput.type === 'password',
                  'fa-eye': confirmPassInput.type === 'text',
                }"
              ></i>
            </span>
          </div>
          <!-- Error Alert -->
          @if (rePasswordControl?.invalid && rePasswordControl?.touched) {
            <p class="mt-1 text-xs font-semibold text-rose-600">
              @if (rePasswordControl?.hasError('required')) {
                <span class="block"> Please confirm your password. </span>
              } @else if (rePasswordControl?.hasError('mismatch')) {
                <span class="block"> Passwords do not match. </span>
              }
            </p>
          }
        </div>

        <!-- Terms -->
        <!-- /* formControlName="terms" */ -->

        <div class="flex items-center gap-3">
          <input
            formControlName="terms"
            id="terms"
            type="checkbox"
            class="w-4 h-4 rounded border border-slate-400 accent-mainColor cursor-pointer"
          />

          <label for="terms" class="text-sm text-slate-500 cursor-pointer leading-relaxed">
            I agree to the

            <a href="#" class="text-mainColor font-semibold hover:underline">
              Terms & Conditions
            </a>

            and

            <a href="#" class="text-mainColor font-semibold hover:underline"> Privacy Policy </a>
          </label>
        </div>

        <!-- Submit Button -->
        <div class="pt-2">
          <button
            type="submit"
            [disabled]="registerForm.invalid || loading"
            class="w-full h-14 cursor-pointer bg-linear-to-r from-mainColor to-[#6366f1] hover:from-mainColor/95 hover:to-[#5753e8] text-white font-bold rounded-xl shadow-lg shadow-mainColor/20 transition-all duration-300 hover:-translate-y-px hover:shadow-xl hover:shadow-mainColor/25 active:translate-y-0 flex items-center justify-center gap-2 disabled:opacity-60 disabled:cursor-not-allowed"
          >
            @if (loading) {
              <span>
                Please wait
                <i class="fas fa-spinner animate-spin"></i>
              </span>
            } @else {
              <span> Create New Account </span>
            }
          </button>

          @if (errMsg) {
            <p
              class="text-xs font-semibold bg-rose-50 text-rose-700 border border-rose-700 px-3 py-2 rounded-lg mt-3"
            >
              {{ errMsg }}
            </p>
          }
        </div>

        <!-- Divider -->
        <div class="flex items-center gap-4 py-1">
          <div class="h-px flex-1 bg-slate-200"></div>

          <span class="text-xs font-medium text-slate-400"> OR </span>

          <div class="h-px flex-1 bg-slate-200"></div>
        </div>

        <!-- Social Login -->
        <div class="grid grid-cols-1 sm:grid-cols-2 gap-4">
          <!-- Google -->
          <button
            type="button"
            class="h-13 flex items-center justify-center gap-3 border border-slate-300 rounded-xl text-sm font-semibold text-slate-700 bg-white hover:bg-slate-50 hover:border-mainColor/40 hover:-translate-y-0.5 transition-all duration-300 cursor-pointer"
          >
            <img
              src="https://www.svgrepo.com/show/475656/google-color.svg"
              alt="Google"
              class="w-5 h-5"
            />

            <span> Continue with Google </span>
          </button>

          <!-- Apple -->
          <button
            type="button"
            class="h-13 flex items-center justify-center gap-3 border border-slate-300 rounded-xl text-sm font-semibold text-slate-700 bg-white hover:bg-slate-50 hover:border-mainColor/40 hover:-translate-y-0.5 transition-all duration-300 cursor-pointer"
          >
            <i class="fa-brands fa-apple text-xl text-slate-900"></i>

            <span> Continue with Apple </span>
          </button>
        </div>

        <!-- Login Link -->
        <p class="text-center text-sm text-slate-500 pt-1 pb-4">
          Already have an account?

          <a
            routerLink="/login"
            class="text-mainColor font-bold cursor-pointer hover:underline ml-1"
          >
            Log In
          </a>
        </p>
      </form>
    </div>
  </div>
</div>
