<section>
  <!-- ================= CREATE POST ================= -->
  <form
    #form
    (submit)="submitForm($event, form)"
    class="w-full bg-white rounded-[16px] shadow-sm border border-slate-200 p-4 font-sans flex flex-col"
  >
    <!-- User Info -->
    <div class="flex items-center gap-3 mb-3">
      <img
        [src]="userData.photo"
        [alt]="userData.name"
        class="w-10 h-10 rounded-full object-cover shrink-0 bg-slate-100 border border-slate-50"
      />

      <div>
        <span class="text-[15px] font-bold text-slate-900 leading-tight capitalize">
          {{ userData.name }}
        </span>

        <!-- Privacy -->
        <div
          class="flex items-center w-fit h-6 ps-2 gap-1.5 bg-slate-50 border border-slate-200 rounded-full text-slate-600"
        >
          <i class="fa-solid fa-earth-americas text-2xs"></i>

          <select
            [formControl]="privacyControl"
            class="bg-transparent border-0 cursor-pointer text-[11px] font-medium text-slate-600 p-2 pe-6 outline-none focus:outline-none focus-visible:outline-none focus:ring-0 focus-visible:ring-0 focus:border-0"
          >
            <option value="public">public</option>
            <option value="following">followers</option>
            <option value="only_me">only me</option>
          </select>
        </div>
      </div>
    </div>

    <!-- Post Content -->
    <div class="mb-4">
      <textarea
        [formControl]="contentControl"
        class="w-full bg-slate-50 border border-slate-200 rounded-xl p-3.5 text-[15px] text-slate-800 placeholder-slate-400 focus:outline-none focus:ring-4 focus:ring-blue-50 focus:border-blue-300 transition-all resize-none min-h-30"
        placeholder="What's on your mind...?"
      ></textarea>
    </div>

    <!-- preview img -->
    @if (imgUrl) {
      <div
        class="mb-4 relative rounded-2xl overflow-hidden border border-white/10 group max-h-85 w-full"
      >
        <img [src]="imgUrl" alt="preview image" class="w-full rounded-lg max-h-60 object-cover" />

        <button
          type="button"
          (click)="removeFile()"
          class="cursor-pointer absolute top-3 right-3 bg-black/60 hover:bg-black/80 text-white rounded-full p-1.5 transition"
        >
          <svg
            xmlns="http://www.w3.org/2000/svg"
            fill="none"
            viewBox="0 0 24 24"
            stroke-width="2"
            stroke="currentColor"
            class="w-4 h-4"
          >
            <path stroke-linecap="round" stroke-linejoin="round" d="M6 18L18 6M6 6l12 12" />
          </svg>
        </button>
      </div>
    }

    <hr class="border-t border-slate-400 mb-4" />

    <!-- Actions -->
    <div class="flex items-center justify-between">
      <!-- Photo -->
      <input (change)="changeFile($event)" type="file" id="file" class="hidden" />

      <label
        for="file"
        class="flex cursor-pointer items-center gap-2 text-slate-600 hover:bg-slate-50 px-2 py-1.5 rounded-lg transition-colors group"
      >
        <i
          class="fa-regular fa-image text-[#22c55e] text-[1.1rem] group-hover:scale-110 transition-transform"
        ></i>

        <span class="text-[14px] font-semibold text-slate-600"> Photo/video </span>
      </label>

      <!-- Post Button -->
      <button
        type="submit"
        class="cursor-pointer bg-blue-500 hover:bg-blue-600 text-white px-5 py-2 rounded-lg font-bold text-[14px] flex items-center gap-2 focus:ring-4 focus:ring-blue-200 outline-none transition-colors"
      >
        Post

        <i class="fa-regular fa-paper-plane text-sm"></i>
      </button>
    </div>
  </form>

  <!-- ================= single POST ================= -->
  @for (post of postsList; track post._id; let i = $index) {
    <div class="mt-4 w-full bg-white rounded-[16px] shadow-sm border border-slate-200 p-4 mb-4">
      <!-- Post Header -->
      <div class="flex items-center justify-between">
        <div class="flex items-center gap-3">
          <img
            [src]="post.user.photo"
            [alt]="post.user.name"
            class="w-10 h-10 rounded-full object-cover cursor-pointer"
          />

          <div>
            <!-- Name -->
            <h3
              class="text-sm font-bold text-slate-900 cursor-pointer hover:text-blue-600 transition-colors"
            >
              {{ post.user.name }}
            </h3>

            <!-- Username + Time + Privacy -->
            <div class="flex items-center gap-1 text-xs text-slate-500 mt-0.5">
              <span class="cursor-pointer hover:underline">@{{ post.user.username }}</span>

              <span>·</span>

              <span class="cursor-pointer hover:underline">{{ post.createdAt | timeAgo }}</span>

              @if (post.user._id === userId) {
                <span>·</span>

                <div class="relative flex items-center gap-1 text-xs text-slate-500">
                  @if (post.privacy === 'public') {
                    <i class="fa-solid fa-earth-americas text-[11px]"></i>
                    <span>Public</span>
                  }

                  @if (post.privacy === 'following') {
                    <i class="fa-solid fa-user-group text-[11px]"></i>
                    <span>Followers</span>
                  }

                  @if (post.privacy === 'only_me') {
                    <i class="fa-solid fa-lock text-[11px]"></i>
                    <span>Only me</span>
                  }
                </div>
              }
            </div>
          </div>
        </div>

        <!-- More Menu -->
        <div class="relative">
          <!-- Hidden Checkbox -->
          <input type="checkbox" [id]="'moreMenu-' + i" class="peer hidden" />

          <!-- 3 Dots -->
          <label
            [for]="'moreMenu-' + i"
            class="w-9 h-9 flex items-center justify-center cursor-pointer rounded-full hover:bg-slate-100 text-slate-500 transition-colors"
          >
            <i class="fa-solid fa-ellipsis"></i>
          </label>

          <!-- Overlay -->
          <label
            [for]="'moreMenu-' + i"
            class="fixed inset-0 z-40 hidden peer-checked:block cursor-default"
          ></label>

          <!-- Dropdown -->
          <div
            class="absolute right-0 top-11 z-50 w-48 rounded-xl border border-slate-200 bg-white p-2 shadow-xl invisible opacity-0 pointer-events-none -translate-y-1 peer-checked:visible peer-checked:opacity-100 peer-checked:pointer-events-auto peer-checked:translate-y-0 transition-all duration-150"
          >
            <!-- Copy Link -->
            <button
              type="button"
              class="w-full flex items-center gap-3 px-3 py-2.5 rounded-lg text-sm text-slate-700 hover:bg-slate-50 cursor-pointer"
            >
              <i class="fa-regular fa-copy w-4 text-center"></i>
              <span>Copy link</span>
            </button>

            <!-- Save -->
            <button
              type="button"
              (click)="bookmarkUnbookmarkPost(post)"
              class="w-full flex items-center gap-3 px-3 py-2.5 rounded-lg text-sm hover:bg-slate-50 cursor-pointer"
              [class.text-blue-600]="post.bookmarked"
              [class.text-slate-700]="!post.bookmarked"
            >
              <i
                class="fa-bookmark w-4 text-center"
                [class.fa-solid]="post.bookmarked"
                [class.fa-regular]="!post.bookmarked"
              ></i>

              <span>
                {{ post.bookmarked ? 'Unsave Post' : 'Save Post' }}
              </span>
            </button>

            @if (post.user._id === userId) {
              <!-- Edit -->
              <button
                type="button"
                (click)="startEditPost(post)"
                class="w-full flex items-center gap-3 px-3 py-2.5 rounded-lg text-sm text-slate-700 hover:bg-slate-50 cursor-pointer"
              >
                <i class="fa-solid fa-pencil w-4 text-center"></i>

                <span>Edit post</span>
              </button>

              <!-- Delete -->
              <button
                (click)="deletePostItem(post.id)"
                class="w-full flex items-center gap-3 px-3 py-2.5 rounded-lg text-sm text-red-600 hover:bg-red-50 cursor-pointer"
              >
                <i class="fa-regular fa-trash-can w-4 text-center"></i>
                <span>Delete post</span>
              </button>
            }
          </div>
        </div>
      </div>

      <!-- ================= POST TEXT ================= -->
      @if (post.body) {
        <p
          [routerLink]="'/details/' + post.id"
          class="mt-4 text-slate-800 leading-6 text-[15px] tracking-wide font-normal wrap-break-word cursor-pointer"
        >
          {{ post.body }}
        </p>
      }
      <!-- ================= POST IMAGE ================= -->
      <div class="mt-4 overflow-hidden rounded-xl">
        @if (post.image) {
          <img
            [routerLink]="'/details/' + post.id"
            [src]="post.image"
            alt="Post photo"
            class="w-full cursor-pointer max-h-90 object-cover transition-transform duration-700 hover:scale-[1.08]"
          />
        }
      </div>

      <!-- ================= POST INFO ================= -->
      <div class="mt-4 flex items-center justify-between text-xs text-slate-500">
        <!-- Likes -->
        <div class="flex items-center gap-1.5">
          <span
            class="w-5 h-5 bg-blue-500 text-white rounded-full flex items-center justify-center"
          >
            <i class="fa-solid fa-thumbs-up text-[9px]"></i>
          </span>

          <span>{{ post.likesCount }} likes</span>
        </div>

        <!-- Comments + Shares -->
        <div class="flex items-center gap-4">
          <span class="cursor-pointer hover:underline"> {{ post.commentsCount }} comments </span>

          <span class="cursor-pointer hover:underline"> {{ post.sharesCount }} shares </span>
        </div>
      </div>

      <!-- ================= POST ACTIONS ================= -->
      <div class="mt-3 pt-3 border-t border-slate-200 grid grid-cols-3 gap-2">
        <!-- Like -->
        <button
          type="button"
          (click)="likeUnlikePost(post)"
          [class.text-blue-600]="post.likes.includes(userId)"
          [class.text-slate-600]="!post.likes.includes(userId)"
          class="flex cursor-pointer items-center justify-center gap-2 py-2 rounded-lg text-sm font-semibold hover:bg-slate-50 transition-colors"
        >
          <i
            class="fa-thumbs-up"
            [class.fa-solid]="post.likes.includes(userId)"
            [class.fa-regular]="!post.likes.includes(userId)"
          ></i>

          Like
        </button>

        <!-- Comment -->
        <button
          #commentBtn
          type="button"
          class="flex cursor-pointer items-center justify-center gap-2 py-2 rounded-lg text-sm font-semibold text-slate-600 hover:bg-slate-50 hover:text-blue-600 transition-colors"
        >
          <i class="fa-regular fa-comment"></i>

          Comment
        </button>

        <!-- Share -->
        <button
          class="flex cursor-pointer items-center justify-center gap-2 py-2 rounded-lg text-sm font-semibold text-slate-600 hover:bg-slate-50 hover:text-blue-600 transition-colors"
        >
          <i class="fa-solid fa-share"></i>

          Share
        </button>
      </div>

      <!-- ******************************************************* -->

      <!-- Comments & create comment -->
      @defer (on interaction(commentBtn)) {
        <app-post-comments [postId]="post.id" />
      }
      <!-- ******************************************************* -->

      <!-- edit post -->
      @if (editingPostId === post.id) {
        <!-- Edit Post Overlay -->
        <div
          (click)="cancelEditPost()"
          class="fixed inset-0 z-100 flex items-center justify-center bg-black/60 px-4"
        >
          <!-- Modal -->
          <div
            (click)="$event.stopPropagation()"
            class="w-full max-w-xl max-h-[90vh] overflow-y-auto rounded-2xl bg-white shadow-2xl"
          >
            <!-- Header -->
            <div
              class="relative flex items-center justify-center border-b border-slate-200 px-5 py-4"
            >
              <h2 class="text-xl font-bold text-slate-900">Edit post</h2>

              <button
                type="button"
                (click)="cancelEditPost()"
                class="absolute right-4 top-1/2 -translate-y-1/2 flex h-9 w-9 cursor-pointer items-center justify-center rounded-full bg-slate-100 text-slate-600 transition hover:bg-slate-200"
              >
                <i class="fa-solid fa-xmark text-lg"></i>
              </button>
            </div>

            <!-- Content -->
            <div class="p-5">
              <!-- User -->
              <div class="flex items-center gap-3">
                <img
                  [src]="post.user.photo"
                  [alt]="post.user.name"
                  class="h-11 w-11 rounded-full object-cover"
                />

                <div>
                  <h3 class="text-sm font-bold text-slate-900">
                    {{ post.user.name }}
                  </h3>

                  <div
                    class="mt-1 flex w-fit items-center gap-1 rounded-md bg-slate-100 px-2 py-1 text-xs font-semibold text-slate-600"
                  >
                    @if (post.privacy === 'public') {
                      <i class="fa-solid fa-earth-americas"></i>
                      <span>Public</span>
                    }

                    @if (post.privacy === 'following') {
                      <i class="fa-solid fa-user-group"></i>
                      <span>Followers</span>
                    }

                    @if (post.privacy === 'only_me') {
                      <i class="fa-solid fa-lock"></i>
                      <span>Only me</span>
                    }
                  </div>
                </div>
              </div>

              <!-- Textarea -->
              <textarea
                [formControl]="editContentControl"
                placeholder="What's on your mind?"
                class="mt-5 min-h-35 w-full resize-none border-0 bg-transparent text-lg text-slate-800 outline-none placeholder:text-slate-400 focus:ring-0"
              ></textarea>

              <!-- Existing Post Image -->
              @if (editImgUrl) {
                <div class="relative mt-3 overflow-hidden rounded-xl border border-slate-200">
                  <img [src]="editImgUrl" alt="Post image" class="max-h-80 w-full object-cover" />

                  @if (editSelectedFile) {
                    <button
                      type="button"
                      (click)="removeEditFile()"
                      class="absolute right-3 top-3 flex h-9 w-9 cursor-pointer items-center justify-center rounded-full bg-black/60 text-white hover:bg-black/80"
                    >
                      <i class="fa-solid fa-xmark"></i>
                    </button>
                  }
                </div>
              }
              <!-- Add to post -->
              <div
                class="mt-5 flex items-center justify-between rounded-xl border border-slate-200 px-4 py-3"
              >
                <span class="text-sm font-bold text-slate-800"> Add to your post </span>

                <div class="flex items-center gap-4">
                  <input
                    type="file"
                    accept="image/*"
                    [id]="'edit-image-' + post.id"
                    class="hidden"
                    (change)="changeEditFile($event)"
                  />

                  <label
                    [for]="'edit-image-' + post.id"
                    class="cursor-pointer text-xl text-green-500 transition hover:scale-110"
                  >
                    <i class="fa-regular fa-image"></i>
                  </label>

                  <button
                    type="button"
                    class="cursor-pointer text-xl text-blue-500 transition hover:scale-110"
                  >
                    <i class="fa-solid fa-user-tag"></i>
                  </button>

                  <button
                    type="button"
                    class="cursor-pointer text-xl text-amber-500 transition hover:scale-110"
                  >
                    <i class="fa-regular fa-face-smile"></i>
                  </button>

                  <button
                    type="button"
                    class="cursor-pointer text-xl text-red-500 transition hover:scale-110"
                  >
                    <i class="fa-solid fa-location-dot"></i>
                  </button>
                </div>
              </div>

              <!-- Save -->
              <button
                type="button"
                (click)="updatePostItem(post.id)"
                class="mt-4 w-full cursor-pointer rounded-lg bg-blue-600 py-2.5 text-sm font-bold text-white transition hover:bg-blue-700"
              >
                Save
              </button>
            </div>
          </div>
        </div>
      }
    </div>
  }
</section>
