<!-- Right Side: Login Form -->
<div class="w-full h-dvh overflow-hidden flex flex-col items-center bg-white px-8 py-6 lg:px-14">
  <div class="w-full max-w-125 flex-1 flex flex-col justify-center lg:pb-16">
    <!-- Mobile Logo -->
    <div class="lg:hidden mb-10 flex items-center gap-3">
      <span
        class="w-11 h-11 rounded-xl bg-mainColor/10 text-mainColor flex items-center justify-center text-2xl"
      >
        <i class="fa-brands fa-hive"></i>
      </span>

      <span class="text-2xl font-bold text-slate-900"> Nexora </span>
    </div>

    <!-- Heading -->
    <div class="mb-9">
      <h2 class="text-3xl lg:text-4xl font-extrabold text-slate-900 mb-3 tracking-tight">
        Welcome back!
      </h2>

      <p class="text-slate-500 text-base leading-relaxed">
        Great to see you again.
        <br />
        Log in to continue your journey with Nexora.
      </p>
    </div>

    <!-- Form -->
    <form autocomplete="off" [formGroup]="loginForm" (ngSubmit)="submitForm()" class="space-y-5">
      <!-- Email -->
      <div>
        <div class="relative">
          @let emailControl = loginForm.get('email');

          <input
            autocomplete="off"
            formControlName="email"
            type="email"
            id="email"
            placeholder=" "
            class="block px-3 pb-2.5 pt-4 w-full text-sm text-slate-900 bg-transparent rounded-xl border appearance-none focus:outline-none focus:ring-0 focus:border-mainColor peer"
            [class]="
              emailControl?.invalid && emailControl?.touched
                ? 'border-rose-600'
                : 'border-slate-300'
            "
          />

          <label
            for="email"
            class="absolute text-sm text-body duration-300 transform -translate-y-4 scale-75 top-2 z-10 origin-left bg-white px-2 peer-focus:text-mainColor peer-placeholder-shown:scale-100 peer-placeholder-shown:-translate-y-1/2 peer-placeholder-shown:top-1/2 peer-focus:top-2 peer-focus:scale-75 peer-focus:-translate-y-4 left-1"
          >
            Email address
          </label>
        </div>
        <!-- Error Alert -->
        @if (emailControl?.invalid && emailControl?.touched) {
          <p class="mt-1 text-xs font-semibold text-rose-600">
            @if (emailControl?.hasError('required')) {
              <span class="block"> Email is required. </span>
            } @else if (emailControl?.hasError('email')) {
              <span class="block"> Please enter a valid email address. </span>
            }
          </p>
        }
      </div>

      <!-- Password -->
      <div>
        <div class="relative">
          @let passwordControl = loginForm.get('password');

          <input
            #passInput
            autocomplete="new-password"
            formControlName="password"
            type="password"
            id="password"
            placeholder=" "
            class="block px-3 pr-12 pb-2.5 pt-4 w-full text-sm text-slate-900 bg-transparent rounded-xl border appearance-none focus:outline-none focus:ring-0 focus:border-mainColor peer"
            [class]="
              passwordControl?.invalid && passwordControl?.touched
                ? 'border-rose-600'
                : 'border-slate-300'
            "
          />

          <label
            for="password"
            class="absolute text-sm text-body duration-300 transform -translate-y-4 scale-75 top-2 z-10 origin-left bg-white px-2 peer-focus:text-mainColor peer-placeholder-shown:scale-100 peer-placeholder-shown:-translate-y-1/2 peer-placeholder-shown:top-1/2 peer-focus:top-2 peer-focus:scale-75 peer-focus:-translate-y-4 left-1"
          >
            Password
          </label>
          <!-- Eye sign -->
          <span
            (click)="showPassword(passInput)"
            class="absolute top-1/2 -translate-y-1/2 right-4 cursor-pointer hover:text-mainColor transition"
          >
            <i
              class="fa-regular"
              [class]="{
                'fa-eye-slash': passInput.type === 'password',
                'fa-eye': passInput.type === 'text',
              }"
            ></i>
          </span>
        </div>

        <!-- Error Alert -->
        @if (passwordControl?.invalid && passwordControl?.touched) {
          <p class="mt-1 text-xs font-semibold text-rose-600">
            @if (passwordControl?.hasError('required')) {
              <span class="block"> Password is required. </span>
            } @else if (passwordControl?.hasError('pattern')) {
              <span class="block">
                Password must be at least 8 characters long and contain at least one uppercase
                letter, one lowercase letter, one number, and one special character.
              </span>
            }
          </p>
        }
      </div>

      <!-- Remember / Forgot -->
      <div class="flex items-center justify-between pt-1">
        <!-- Remember Me -->
        <label for="remember" class="flex items-center gap-2 cursor-pointer select-none">
          <input
            type="checkbox"
            id="remember"
            class="w-4 h-4 border-slate-400 accent-mainColor cursor-pointer"
          />

          <span class="text-sm text-slate-500"> Remember me </span>
        </label>

        <!-- Forgot Password -->
        <button
          type="button"
          class="text-mainColor text-sm font-semibold hover:underline cursor-pointer transition"
        >
          Forgot password?
        </button>
      </div>

      <!-- Login Button -->
      <div class="pt-2">
        <button
          type="submit"
          [disabled]="loginForm.invalid || loading"
          class="w-full h-14 bg-linear-to-r from-mainColor to-[#6366f1] hover:from-mainColor/95 hover:to-[#5753e8] text-white font-bold rounded-xl shadow-lg shadow-mainColor/20 transition-all duration-300 hover:-translate-y-px hover:shadow-xl hover:shadow-mainColor/25 cursor-pointer disabled:opacity-60 disabled:cursor-not-allowed"
        >
          @if (loading) {
            <span>
              Please wait
              <i class="fas fa-spinner animate-spin"></i>
            </span>
          } @else {
            <span>Log in</span>
          }
        </button>
        @if (errMsg) {
          <p
            class="text-xs font-semibold bg-rose-50 text-rose-700 border border-rose-700 px-3 py-2 rounded-lg mt-3"
          >
            {{ errMsg }}
          </p>
        }
      </div>

      <!-- Divider -->
      <div class="flex items-center gap-4 py-4">
        <div class="h-px flex-1 bg-slate-200"></div>

        <span class="text-xs font-medium text-slate-400"> OR </span>

        <div class="h-px flex-1 bg-slate-200"></div>
      </div>

      <!-- Social Login -->
      <div class="grid grid-cols-1 sm:grid-cols-2 gap-4">
        <!-- Google -->
        <button
          type="button"
          class="h-14 flex items-center justify-center gap-3 border border-slate-300 rounded-xl text-sm font-semibold text-slate-700 bg-white hover:bg-slate-50 hover:border-mainColor/40 hover:-translate-y-0.5 transition-all duration-300 cursor-pointer"
        >
          <img
            src="https://www.svgrepo.com/show/475656/google-color.svg"
            alt="Google"
            class="w-5 h-5"
          />

          <span> Continue with Google </span>
        </button>

        <!-- Apple -->
        <button
          type="button"
          class="h-14 flex items-center justify-center gap-3 border border-slate-300 rounded-xl text-sm font-semibold text-slate-700 bg-white hover:bg-slate-50 hover:border-mainColor/40 hover:-translate-y-0.5 transition-all duration-300 cursor-pointer"
        >
          <i class="fa-brands fa-apple text-xl text-slate-900"></i>

          <span> Continue with Apple </span>
        </button>
      </div>

      <!-- Terms -->
      <p class="text-center text-xs sm:text-sm text-slate-500 leading-relaxed pt-2">
        By continuing, you agree to Nexora's

        <a href="#" class="text-mainColor font-medium hover:underline"> Terms of Service </a>

        and

        <a href="#" class="text-mainColor font-medium hover:underline"> Privacy Policy </a>.
      </p>

      <!-- Sign Up -->
      <p class="text-center text-sm text-slate-500 pt-2">
        Don't have an account?

        <a routerLink="/register" class="text-mainColor font-bold hover:underline ml-1">
          Sign up
        </a>
      </p>
    </form>
  </div>
</div>
