/* You can add global styles to this file, and also import other style files */
@import 'tailwindcss';

@import 'flowbite/src/themes/default';

@plugin "flowbite/plugin";

@source "../node_modules/flowbite";

/* container */
@utility container {
  margin-inline: auto;
}

/* body {
  font-family: 'SN Pro', sans-serif;
} */

/* theme */
@theme {
  /* me */
  --color-mainColor: #256af4;
  --color-secondColor: #f0f2f5;
}

/* ngx-spinner overlay styles */
.ngx-spinner-overlay.fade-in {
  pointer-events: auto !important;
  visibility: visible !important;
}

.ngx-spinner-overlay.fade-out {
  pointer-events: none !important;
  visibility: hidden !important;
}
