<aside
  class="w-full text-sm sticky top-21 bg-white rounded-[20px] shadow-sm border border-slate-50 p-2.5 flex flex-col gap-1"
  aria-label="Sidebar Navigation"
>
  <!-- Feed -->
  <button
    type="button"
    class="flex items-center gap-4 p-2 cursor-pointer rounded-xl font-semibold transition-colors duration-200 bg-blue-50 text-blue-600"
  >
    <i class="fa-regular fa-newspaper w-5 text-center"></i>
    <span>Feed</span>
  </button>

  <!-- My Posts -->
  <button
    type="button"
    class="group flex items-center gap-4 p-2 cursor-pointer rounded-xl font-semibold text-slate-700 hover:bg-slate-50 hover:text-blue-600 transition-colors duration-200"
  >
    <i class="fa-solid fa-wand-magic-sparkles w-5 text-center transition-colors"></i>

    <span>My Posts</span>
  </button>

  <!-- Community -->
  <button
    type="button"
    class="group flex items-center gap-4 p-2 cursor-pointer rounded-xl font-semibold text-slate-700 hover:bg-slate-50 hover:text-blue-600 transition-colors duration-200"
  >
    <i class="fa-solid fa-globe w-5 text-center transition-colors"></i>

    <span>Community</span>
  </button>

  <!-- Saved -->
  <button
    type="button"
    class="group flex items-center gap-4 p-2 cursor-pointer rounded-xl font-semibold text-slate-700 hover:bg-slate-50 hover:text-blue-600 transition-colors duration-200"
  >
    <i class="fa-regular fa-bookmark w-5 text-center transition-colors"></i>

    <span>Saved</span>
  </button>
</aside>
